.search-container{
    padding: 9px 9px;
    margin-top: 15px;
    margin-bottom: 100px;
    left: 800px;
    font-size:17px;
    border-radius: 20px;  
    cursor:wait;
    display: flex;
    position: absolute;
    z-index: 999999999999999999999999;

}



