/*---description---------*/
.full-one  {
    margin-top: 360px;
    margin-left: 350px;
    font-size: 40px;
    color: rgb(219, 221, 221);
    z-index: 999999999999;
    position: absolute;
    background: rgba(0,0,0,0.9);
    transform: translate(-50%, -50%);
    width: 600px;
    
}
/*---end description---------*/


 /*titlee*/
 .full-title  {
  font-variant: normal;
  margin-top: 110px;
  margin-left: 270px;
  font-size: 50px;
  color: rgb(219, 221, 221);
  z-index: 999999999999;
  position: absolute;
  transform: translate(-50%, -50%);
  
}

/*end titlee */

 /*---------video---------*/

.video-container{
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;

  }
      
  iframe {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
  }

  @media (min-aspect-ratio: 16/9) {
    .video-container iframe {
      /* height = 100 * (9 / 16) = 56.25 */
      height: 56.25vw;
    }
  }
      
  @media (max-aspect-ratio: 16/9) {
    .video-container iframe {
      /* width = 100 / (9 / 16) = 177.777777 */
      width: 177.78vh;
    }
  }
 /*---------end video---------*/

 
  .btn1{
    margin-top: 410px;
    margin-left: 460px;
    font-size: 55px;
    color: rgb(219, 221, 221);
    z-index: 999999999999;
    position: absolute;
    background: transparent;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 500px;
    border: none;
    
  }

  /*-------btn to back ---------*/
  /* .btn-back{
    margin-top: -500px;
  margin-left: 900px;
  font-size: 50px;
  color: rgb(219, 221, 221);
  z-index: 999999999999;
  position: absolute;
  transform: translate(-50%, -50%);
  } */

 
 

 